services:
  ingestor:
    image: ghcr.io/swissopenem/ingestor:${INGESTOR_VERSION:-latest}
    container_name: openem-ingestor
    ports:
      - "8080:8080"
    env_file:
      - ${PWD}/.env.example
    environment:
      GIN_MODE: release
    user: "${UID:-0}:${GID:-0}"
    configs:
      - source: openem-ingestor-config.yaml
        target: /app/openem-ingestor-config.yaml
    restart:
      unless-stopped
    volumes:
      - ${HOST_COLLECTION_PATH}:${HOST_COLLECTION_PATH}:ro

configs:
  openem-ingestor-config.yaml:
    content: |
      Scicat:
        Host: ${SCICAT_BACKEND_URL}/api/v3
      Transfer:
        StorageLocation: PSI
        Method: ExtGlobus
        ExtGlobus:
          TransferServiceUrl: ${GLOBUS_TRANSFER_PROXY_URL}
          SrcFacility: ${GLOBUS_SOURCE_FACILITY}
          DstFacility: ${GLOBUS_DESTINATION_FACILITY}
          CollectionRootPath: ${GLOBUS_COLLECTION_ROOT_PATH}

      MetadataExtractors:
        InstallationPath: ./extractors/
        SchemasLocation: ./schemas/
        Extractors:
          - Name: LS
            GithubOrg: SwissOpenEM
            GithubProject: LS_Metadata_reader
            Version: v2.0.1
            Executable: LS_Metadata_reader
            Checksum: 83ae1b2d469cec10fdcc3ad7cb6c824a389e501e7142417792f2ac836ab174c3
            ChecksumAlg: sha256
            CommandLineTemplate: "-i '{{.SourceFolder}}' -o '{{.OutputFile}}' ${LIFESCIENCE_EXTRACTOR_ADDITIONAL_PARAMS}"
            Methods:
              - Name: Single Particle
                Schema: oscem_schemas_spa.schema.json
                Url: https://w3id.org/oscem-schemas/latest/spa/jsonschema/oscem_schemas_spa.schema.json
              - Name: Cellular Tomography
                Schema: oscem_cellular_tomo.json
                Url: https://w3id.org/oscem-schemas/latest/cellular_tomo/jsonschema/oscem_schemas_cellular_tomo.schema.json
              - Name: Tomography
                Schema: oscem_tomo.json
                Url: https://w3id.org/oscem-schemas/latest/subtomo/jsonschema/oscem_schemas_subtomo.schema.json
              - Name: Environmental Tomography
                Schema: oscem_env_tomo.json
                Url: https://w3id.org/oscem-schemas/latest/env_tomo/jsonschema/oscem_schemas_env_tomo.schema.json

          - Name: MS
            GithubOrg: SwissOpenEM
            GithubProject: MS_Metadata_reader
            Version: v1.0.3
            Executable: MS_Metadata_reader
            Checksum: 56925ded88d6719d42eaafe66f98fce43a67f0132d6488ece8bcbcfd5f0704a3
            ChecksumAlg: sha256
            CommandLineTemplate: "'{{.SourceFolder}}' '{{.OutputFile}}'"
            Methods:
              - Name: Material Science
                Schema: oscem_general.json
                Url: https://w3id.org/oscem-schemas/latest/general/jsonschema/oscem_schemas_general.schema.json

      WebServer:
        Auth:
          Disable: false
          Frontend:
            Origin: ${SCICAT_FRONTEND_URL}
            RedirectPath: "/ingestor"
          SessionDuration: 28800
          OAuth2:
            ClientID: "${KEYCLOAK_CLIENT_ID}"
            RedirectURL: "${INGESTOR_DOMAIN}/callback"
            Scopes:
              - email
          OIDC:
            IssuerURL: "${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}"
          JWT:
            UseJWKS: true
            JwksURL: "${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs"
            JwksSignatureMethods:
              - RS256
          RBAC:
            AdminRole: "ingestor-admin"
            CreateModifyTasksRole: "ingestor-write"
            ViewTasksRole: "ingestor-read"
        Paths:
          CollectionLocations:
            ${HOST_COLLECTION_NAME}: ${HOST_COLLECTION_PATH}
        MetadataExtJobs:
          ConcurrencyLimit: 4
          QueueSize: 200
        Other:
          BackendAddress: ${INGESTOR_DOMAIN}
          Port: 8080
          SecureCookies: true
          LogLevel: Info 
          DisableServiceAccountCheck: true
