services:
  ingestor:
    image: ghcr.io/swissopenem/ingestor:main
    env_file:
      - ./config/.env
      - ${PWD}/.env
    user: "${UID:-0}:${GID:-0}"
    configs:
      - source: openem-ingestor-config.yaml
        target: /app/openem-ingestor-config.yaml
    volumes:
      - ${HOST_COLLECTION_PATH}:/mnt/collection_location:ro
      # Enable this to mount network NFS share
      # - collection_location_nfs_share:/mnt/collection_location
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ingestor.rule=Host(`emf-ingestor.psi.ch`)"
      - "traefik.http.routers.ingestor.entrypoints=websecure"
      - "traefik.http.routers.ingestor.tls.certresolver=leresolver"
# Enable and configure this to mount NFS share
  # collection_location_nfs_share:
  #   driver_opts:
  #     type: "nfs"
  #     o: "nfsvers=3,addr=${NFS_SERVER_ADDRESS},nolock,ro"

configs:
  openem-ingestor-config.yaml:
    content: |
      Scicat:
        Host: ${SCICAT_BACKEND_URL}/api/v3
      Transfer:
        StorageLocation: PSI
        Method: S3
        #Method: Globus
        S3:
          Endpoint: "https://s3.development.psi.ch:9000"
          TokenUrl: "https://s3.development.psi.ch:9000/token"
          ChunkSizeMB: 1000
          ConcurrentFiles: 2
          PoolSize: 10

        Globus:
          ClientId: ${GLOBUS_CLIENT_ID}
          RedirectUrl: "https://auth.globus.org/v2/web/auth-code"

          SourceCollectionID: ${GLOBUS_SOURCE_COLLECTION_ID}
          CollectionRootPath: ${GLOBUS_COLLECTION_ROOT_PATH}
          # Paul Scherrer Institute - SciCat QA
          DestinationCollectionID: "33f12025-7098-4774-bb13-5134b4d0587a"
          DestinationTemplate: "/test2/{{ .Username }}/{{ replace .Pid \".\" \"_\" }}/{{ .DatasetFolder }}"
          Scopes:
            - "urn:globus:auth:scope:transfer.api.globus.org:all[*https://auth.globus.org/scopes/33f12025-7098-4774-bb13-5134b4d0587a/data_access]"

      MetadataExtractors:
        InstallationPath: ./extractors/
        SchemasLocation: ./schemas/
        Extractors:
          - Name: LS
            GithubOrg: SwissOpenEM
            GithubProject: LS_Metadata_reader
            Version: v2.0.1
            Executable: LS_Metadata_reader
            Checksum: 83ae1b2d469cec10fdcc3ad7cb6c824a389e501e7142417792f2ac836ab174c3
            ChecksumAlg: sha256
            CommandLineTemplate: "-i '{{.SourceFolder}}' -o '{{.OutputFile}}' --cs 2.7 --folder_filter=^.*(?i)(metadata).*$"
            AdditionalParameters:
            - Param1=2.7
            - Param2="None"
            - Param3="xmls/"
            Methods:
              - Name: Single Particle
                Schema: oscem_schemas_spa.schema.json
                Url: https://raw.githubusercontent.com/osc-em/OSCEM_Schemas/refs/heads/main/project/spa/jsonschema/oscem_schemas_spa.schema.json
              - Name: Cellular Tomography
                Schema: oscem_cellular_tomo.json
                Url: https://raw.githubusercontent.com/osc-em/OSCEM_Schemas/refs/heads/main/project/cellular_tomo/jsonschema/oscem_schemas_cellular_tomo.schema.json
              - Name: Tomography
                Schema: oscem_tomo.json
                Url: https://raw.githubusercontent.com/osc-em/OSCEM_Schemas/refs/heads/main/project/subtomo/jsonschema/oscem_schemas_subtomo.schema.json
              - Name: EnvironmentalTomography
                Schema: oscem_env_tomo.json
                Url: https://raw.githubusercontent.com/osc-em/OSCEM_Schemas/refs/heads/main/project/env_tomo/jsonschema/oscem_schemas_env_tomo.schema.json

          - Name: MS
            GithubOrg: SwissOpenEM
            GithubProject: MS_Metadata_reader
            Version: v1.0.0
            Executable: MS_Metadata_reader
            Checksum: d5bb07787544dea4db8d02f6276369e9726a098228392001229ae9d9d716cdf9
            ChecksumAlg: sha256
            CommandLineTemplate: "'{{.SourceFolder}}' '{{.OutputFile}}'"
            Methods:
              - Name: General
                Schema: oscem_general.json
                Url: https://raw.githubusercontent.com/osc-em/OSCEM_Schemas/refs/heads/main/project/general/jsonschema/oscem_schemas_general.schema.json      

      WebServer:
        Auth:
          Disable: false
          Frontend:
            Origin: ${SCICAT_FRONTEND_URL}
            RedirectPath: "/ingestor"
          SessionDuration: 28800
          OAuth2:
            ClientID: "${KEYCLOAK_CLIENT_ID}"
            RedirectURL: "${INGESTOR_DOMAIN}/callback"
            Scopes:
              - email
          OIDC:
            IssuerURL: "${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}"
          JWT:
            UseJWKS: true
            JwksURL: "${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs"
            JwksSignatureMethods:
              - RS256
          RBAC:
            AdminRole: "ingestor-admin"
            CreateModifyTasksRole: "ingestor-write"
            ViewTasksRole: "ingestor-read"
        Paths:
          CollectionLocations:
            emf: "/mnt/collection_location"
        MetadataExtJobs:
          ConcurrencyLimit: 4
          QueueSize: 200
        Other:
          BackendAddress: ${INGESTOR_DOMAIN}
          Port: 8080
          LogLevel: Debug
          DisableServiceAccountCheck: true
